.hotelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.rSlider {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.25);
    z-index: 999;
    display: flex;
    align-items: center;
}

.rSliderWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rSliderImg {
    width: 650px;
    height: 600px;
}

.rClose {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
}

.rArrow {
    margin: 20px;
    font-size: 40px;
    color: 30px;
    color: #ffffff;
    cursor: pointer;
}
