@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Add this style for custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
}

.custom-dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.custom-dropdown-item {
  display: block;
  width: 100%;
  padding: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
}

.custom-dropdown-item:hover {
  background-color: #f1f1f1;
}

.custom-dropdown:hover .custom-dropdown-content {
  display: block;
}

